language: php

php:
  - 7.3
  - nightly

matrix:
  allow_failures:
    - php: nightly
  fast_finish: true

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.php-cs-fixer
    - $HOME/.local

before_script:
  - composer self-update
  - composer update --prefer-dist --ignore-platform-reqs $DEPENDENCIES

script:
  - php ./vendor/bin/phpunit --coverage-text --coverage-clover ./build/logs/clover.xml
  - PHP_CS_FIXER_IGNORE_ENV=1 ./vendor/bin/php-cs-fixer fix -v --diff --dry-run

after_success:
  - php vendor/bin/coveralls -v
